  <aside class="main-sidebar">
    <!-- sidebar: style can be found in sidebar.less -->
    <section class="sidebar">
      <!-- Sidebar user panel -->
      <div class="user-panel">
        <div class="pull-left image">
        
        </div>
        
      </div>
      
      <ul class="sidebar-menu">
        <li class="header">ADMINISTRATION</li>
        <li class="active treeview">
          <a href="{% url 'admin_index' %}">
            <i class="fa fa-dashboard"></i> <span>Dashboard</span>
            
          </a>
         
        </li>

    <!-- for super admin user -->
   {% if request.user.user_type_id == 1 %}"
        <li class="treeview {% if slider_active == 'active' or subscriptionlist_active == 'active' %}active{% endif %}">
        

          <a href="#">
            <i class="fa fa-cogs"></i>
            <span>Setting Management</span>
            <span class="pull-right-container">
              <i class="fa fa-angle-left pull-right"></i>
            </span>
          </a>
          <ul class="treeview-menu">

            <li class="{% if slider_active == 'active' %}active{% endif %}"><a href="{% url 'login' %}"><i class="fa fa-circle-o"></i>Manage Slider</a></li>

            <li class="{% if subscriptionlist_active == 'active' %}active{% endif %}"><a href="{% url 'login' %}"><i class="fa fa-circle-o"></i>Manage Subscription</a></li>


          </ul>
          
        </li>

        <li class="treeview {% if agentlist_active == 'active' %}active{% endif %}">

          <a href="#">
            <i class="fa fa-cogs"></i>
            <span>Agent Management</span>
            <span class="pull-right-container">
              <i class="fa fa-angle-left pull-right"></i>
            </span>
          </a>
          <ul class="treeview-menu">

            <li class="{% if agentlist_active == 'active' %}active{% endif %}"><a href="{% url 'agentList' %}"><i class="fa fa-circle-o"></i>Agent List</a></li>


          </ul>

      </li>

      <li class="treeview {% if vendorlist == 'active' %}active{% endif %}">

          <a href="#">
            <i class="fa fa-cogs"></i>
            <span>Vendor Management</span>
            <span class="pull-right-container">
              <i class="fa fa-angle-left pull-right"></i>
            </span>
          </a>
          <ul class="treeview-menu">
            <li class="{% if vendorlist == 'active' %}active{% endif %}"><a href="{% url 'individual_vendor_list' %}"><i class="fa fa-circle-o"></i>Individual Vendor List</a></li>
            
          </ul>

      </li>
      {% endif %}
<!-- ----------------for agent --------------->
{% if request.user.user_type_id == 2 %}"
  <li class="treeview {% if vendorListUnderAgent == 'active' or addvendor_active == 'active' %}active{% endif %}">

          <a href="#">
            <i class="fa fa-cogs"></i>
            <span>Vendor Management</span>
            <span class="pull-right-container">
              <i class="fa fa-angle-left pull-right"></i>
            </span>
          </a>
          <ul class="treeview-menu">
            <li class="{% if vendorListUnderAgent == 'active' %}active{% endif %}"><a href="{% url 'getvendorlist' request.user.id %}"><i class="fa fa-circle-o"></i>Vendor List</a></li>
            
          </ul>

          <ul class="treeview-menu">
          <li class="{% if addvendor_active == 'active' %}active{% endif %}"><a href="{% url 'addvendor' %}"><i class="fa fa-circle-o"></i>Add Vendor</a></li>
        </ul>

  </li>

  <li class="treeview {% if parlour_service == 'active' or hotel_service == 'active' %}active{% endif %}">

          <a href="#">
            <i class="fa fa-cogs"></i>
            <span>Service Management</span>
            <span class="pull-right-container">
              <i class="fa fa-angle-left pull-right"></i>
            </span>
          </a>
          <ul class="treeview-menu">
            <li class="{% if parlour_service == 'active' %}active{% endif %}"><a href="{% url 'list-parlour' %}"><i class="fa fa-circle-o"></i>Parlour Service</a></li>
            
          </ul>

          <ul class="treeview-menu">
          <li class="{% if hotel_service == 'active' %}active{% endif %}"><a href="{% url 'addvendor' %}"><i class="fa fa-circle-o"></i>Hotel Service</a></li>
        </ul>

  </li>
{% endif %}

<!-- for individual vendor -->
{% if request.user.user_type_id == 3 %}"
  <li class="treeview {% if vendorListUnderAgent == 'active' or addvendor_active == 'active' %}active{% endif %}">

          <a href="#">
            <i class="fa fa-cogs"></i>
            <span>Service Management</span>
            <span class="pull-right-container">
              <i class="fa fa-angle-left pull-right"></i>
            </span>
          </a>
          <ul class="treeview-menu">
            <li class="{% if vendorListUnderAgent == 'active' %}active{% endif %}"><a href="{% url 'getvendorlist' request.user.id %}"><i class="fa fa-circle-o"></i>Service List</a></li>
            
          </ul>

          <ul class="treeview-menu">
          <li class="{% if addvendor_active == 'active' %}active{% endif %}"><a href="{% url 'addvendor' %}"><i class="fa fa-circle-o"></i>Add Service</a></li>
        </ul>

  </li>
{% endif %}








      
        
		  
		  </ul> 

        <li class="treeview">
          <a href="#">
    </section>
    <!-- /.sidebar -->
  </aside>