{% include 'common/admin_header.html' %}
{% include 'common/admin_leftmenu.html' %}
{% load crispy_forms_tags %}



  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <h1>
        PASSWORD CHANGE
        
      </h1>
      
    </section>

    <!-- Main content -->
    <section class="content">
      <div class="row">
        <!-- left column -->
        
        <!--/.col (left) -->
        <!-- right column -->
        <div class="col-md-12">
          <!-- Horizontal Form -->
          <div class="box box-info">
            <div class="box-header with-border">
              <h3 class="box-title">CHANGE PASSWORD<span style="padding-right: 30px;"></span> </h3>
              <div id="validation" style="color:red;"></div>
              {% for message in messages %}
                    <div class="alert alert-{{ message.tags }}">
                        <a class="close" href="#" data-dismiss="alert">×</a>
                        {{ message }}
                    </div>
    		  {% endfor %}
            </div>

            <form method="post">
		        {% csrf_token %}
		        {{ form.as_p}}

		        <div class="box-footer">
                <a href="{% url 'admin_index' %}" class="btn btn-danger">Cancel</a>
                <button type="submit" class="btn btn-info pull-right">Update</button>
              </div>

		    </form>
           
          </div>

        </div>
      </div>
    </section>
  </div>
</div>

 


{% include 'common/admin_footer.html' %}