
{%  extends 'book/main.html' %}
{% load static %}


{% include 'common/admin_header.html' %}
{% include 'common/admin_leftmenu.html' %}

{% block content %}
	<h2> <a href="{% url 'upload_book' %}"> Upload Book</a> </h2>
	<h2>Book List</h2>
	<table class="table">
		<thead>
			<tr>
				<td>Cover</td>
				<td>Title</td>
				<td>Author</td>
				<td>Download</td>
				<td>Update</td>
				<td>Remove</td>
			</tr>
		</thead>
		<tbody>
			{% for object in books %}
			<tr>
				<td>
					{% if object.cover %}
						<img src="{{ object.cover.url }}" alt="{{ object.title }}" style="width: 50px; height: 50px">

					{% else %}
						<img src="{% static 'image/no-image.png' %}" alt="NO Image" style="width: 50px; height: 50px">

					{% endif %}
				</td>
				<td>{{ object.title}}</td>
				<td>{{ object.author}}</td>
				<td>
					<a href="{{ object.pdf.url }}" class="btn btn-primary btn-sm" target="_blank"> Download PDF</a>
				</td>

				<td><a class="btn btn-sm btn-info" href="{% url 'update_book' object.id %}">Update</a></td>

				<td><a class="btn btn-sm btn-danger" href="{% url 'delete_book' object.id %}">Delete</a></td>
			</tr>
			{% endfor %}
		</tbody>
	</table>


{% endblock %}